.header {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: cornflowerblue;
    height: 50px;
}